.button {
    width: 100%;
    padding: 1em;
    background-color: #414141;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: .5em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
    transition: .5s;
}

.button:hover {
    background-color: #818181;
}