.header {
    background-color: transparent;
    padding: 2em 4em;
    position: sticky;
    top: 0;
}

.header nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 1.2em;
}

.link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.active {
    color: #0077ff;
    text-decoration: none;
    font-weight: bold;
}